{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

<h5> Payoff information </h5>
    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

   <!-- <p>In each cell the number on the left indicates points for Player A and the number on the right
            indicates points for Player B.</p>

    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=3>Player B</th>
        </tr>
        <tr>
            <th>LEFT</th>
            <th>CENTER</th>
            <th>RIGHT</th>
        </tr>
        <tr>
            <th rowspan=3>Player A</th>
            <th>UP</th>
            <td>{{ Constants.firm_fully_comply}}, {{ Constants.insp_FI}}</td>
            <td>{{ Constants.firm_fully_comply}}, {{ Constants.insp_FL }}</td>
            <td>{{ Constants.firm_fully_comply}}, {{ Constants.insp_FN }}</td>
        </tr>
        <tr>
            <th>MIDDLE</th>
            <td>{{ Constants.firm_PF}}, {{ Constants.insp_PF}}</td>
            <td>{{ Constants.firm_PL}}, {{ Constants.insp_PL }}</td>
            <td>{{ Constants.firm_PN}}, {{ Constants.insp_PN }}</td>
        </tr>
        <tr>
            <th>DOWN</th>
            <td>{{ Constants.firm_NF}}, {{ Constants.insp_NF}}</td>
            <td>{{ Constants.firm_NL}}, {{ Constants.insp_NL }}</td>
            <td>{{ Constants.firm_NN}}, {{ Constants.insp_NN}}</td>
        </tr>
    </table>
-->
</div>
</div>


