{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h4> Game structure</h4>

        <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>
        In this experiment there will be four games. In each game there will be {{Constants.num_rounds}} rounds. Therefore, there will be 120 rounds in total.
        Each round will take about one minute.
    </p>
    <p>
        You will make a decision in each round against a randomly picked opponent who is also participating in the experiment. At the end
        of each game, we will randomly pick one of the rounds to determine your earnings. All rounds are equally likely to be chosen for your
        earnings, so you should think carefully about each decision in each round. Your total earnings will be the sum of your points in randomly
        picked rounds in four games. Your earnings will depend on the decisions that you and the other player make. Your total earnings will
        be converted to real money at the end of the experiment if you complete all four parts.
    </p>
    <p>
        You will receive the instructions for each game at the beginning of that game.
    </p>

</div>
</div>

