{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">


    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>
        You have volunteered to participate in a decision making experiment. This experiment is a study of individual
        behavior. The instructions are simple. If you follow them carefully and make good decisions, you may earn a considerable
        amount of money, which will be paid to you privately in cash at the end of the experiment today.
    </p>
    <p>
        There are 24 people in the room who are participating in this experiment. You must not communicate with any other participant
        in any way during the experiment. You will not be asked for your name, student number or any other personal information that
        might reveal your identity.
    </p>
    <p>
        If you have read and understood theese policies please click Next to read about experiment instructions
    </p>

</div>
</div>


