{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h4> Game structure</h4>

        <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>
        In this experiment there will be four games, each will be played in multiple rounds. The first five rounds in each game are trial rounds just to familiarize you with the logic of the game.
        The points collected during trial rounds will not affect your actual earnings. After playing five trial rounds the real game will start. The real game has 30 rounds (from Round 6 to Round 35). Therefore, there will be 140 rounds in total. Each round will take about one minute.
         </p>

        <h3>How to play the rounds:</h3>
    <p>
        In each round you will make a decision against a randomly picked opponent who is also participating in the experiment. Your earnings will depend on the decisions that you and the other player make. At the end of each game, the computer will randomly pick three of the rounds to determine your earnings. We will repeat this process in all four games. Therefore, your total earnings will be the sum of your points in randomly picked rounds in four games. Your total earnings will be converted to real money (10 KZT per point) at the end of the experiment if you complete all four games.
    </p>
    <p>
    You will receive the instructions for each game before the first round of that game. Please read them carefully.
    </p>

</div>
</div>

