{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Your Answers
{% endblock %}

{% block content %}

    <ol>
        <li>If you decide to comply and agency will inspect you, it will cost you 30 points.
              So, you will end up with how many points?</li>
        <ul>
        <li> Your answer: {{player.q3_1_firm}}.</li>
            <li>Correct answer: 20 points</li>
        </ul>
        <li>If you decide not to comply and agency will inspect you, it will cost you 40 points of penalty.
            So, you will end up with how many points?'</li>
        <ul>
        <li> Your answer: {{player.q3_2_firm}}.</li>
            <li>Correct answer: 10 points</li>
        </ul>
        <li>If you decide not to comply and agency will not inspect you, it will cost you 0 points of penalty.
             So, you will end up with how many points?</li>
        <ul>
        <li> Your answer: {{player.q3_3_firm}}.</li>
            <li>Correct answer: 50 points</li>
        </ul>
         <li>If you decide to comply and agency will not inspect you, how much will it cost you?</li>
        <ul>
        <li> Your answer: {{player.q3_4_firm}}.</li>
            <li>Correct answer: 30 points</li>
        </ul>
    </ol>
    <p>Review answers before starting the game</p>

    {% next_button %}
{% endblock %}
