{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Your Choice
{% endblock %}

{% block content %}

<div class="form-group required">
    <p> You are Firm. Make your choice accordingly</p>
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">Inspector</th>
            </tr>
            <tr>
                <th>Inspect</th>
                <th>Not inspect</th>
            </tr>
            <tr>
                <th rowspan="2"><span>You</span></th>
                <td><button name="decision" value="Comply" class="btn btn-primary btn-large">I will comply</button></td>
                <td>{{Constants.inspectors_comply_payoff}}, {{Constants.inspectors_comply_payoff}}</td>
                <td>{{ Constants.inspectors_notcomply_payoff }}, 0}</td>
            </tr>
            <tr>
                <td><button name="decision" value="Not comply" class="btn btn-primary btn-large">I will not comply</button></td>
                <td>{{Constants.inspectors_comply_payoff}}, {{ Constants.firms_notinspect_payoff }}</td>
                <td>{{Constants.inspectors_bothbetray_payoff}}, {{Constants.firms_bothbetray_payoff}}</td>
            </tr>
        </table>
    </div>


    <p>Here you can chat with the other participant.</p>

    {% chat %}


{% endblock %}
