{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instructions
    </h3>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>
        In this game, you will be randomly and anonymously paired with another
        participant. At the beginning of each round you will randomly set a role of either Inspector or a Firm.
        Each of you simultaneously and privately chooses whether you want to
        comply/not comply if you are a Firm and inspect/not inspect if you are the Inspector.
        Your payoffs will be determined by the choices of both as below:
    </p>
    <p><i>In each cell, the amount to the left is the payoff for the Inspector
        and to the right for the Firm.</i></p>
    <p><i>For example, if Firm decides to comply and Inspector chooses Not inspect, Firm gets 100 points
        and Inspector - 400 points.</i></p>

    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>Firm</th>
        </tr>
        <tr>
            <th>Comply</th>
            <th>Not comply</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90">Inspector</span></th>
            <th>Inspect</th>
            <td>{{ Constants.insp_IC}}, {{ Constants.firm_IC}}</td>
            <td>{{ Constants.insp_IN}}, {{ Constants.firm_IN }}</td>
        </tr>
        <tr>
            <th>Not inspect</th>
            <td>{{ Constants.insp_NC }},{{Constants.firm_NC}}</td>
            <td>{{ Constants.insp_NN}}, {{ Constants.firm_NN }}</td>
        </tr>
    </table>

</div>
</div>


